<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProduceServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellServlet</servlet-name>
        <servlet-class>controller.SellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProduceServlet</servlet-name>
        <url-pattern>/ProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellServlet</servlet-name>
        <url-pattern>/SellServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
